<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>item0</string>
		<key>brand</key>
		<string>宝马</string>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>MINI JCW CLUBMAN</string>
				<key>icon</key>
				<string>https://img2.bitautoimg.com/autoalbum/files/20180810/971/0315529714_3.png</string>
				<key>price</key>
				<string>34.40-38.00万</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>https://img4.bitautoimg.com/autoalbum/files/20190531/454/0613224546_3.jpg</string>
				<key>name</key>
				<string>宝马3系</string>
				<key>price</key>
				<string>25.69-29.79万</string>
			</dict>
			<dict>
				<key>price</key>
				<string>66.49-80.74万</string>
				<key>name</key>
				<string>宝马X5</string>
				<key>icon</key>
				<string>https://img4.bitautoimg.com/autoalbum/files/20181120/793/0953287936_3.png</string>
			</dict>
		</array>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>item1</string>
		<key>brand</key>
		<string>通用</string>
		<key>cars</key>
		<array>
			<dict>
				<key>price</key>
				<string>6.49-12.99万</string>
				<key>name</key>
				<string>创酷</string>
				<key>icon</key>
				<string>https://img2.bitautoimg.com/autoalbum/files/20190515/018/0324410182_3.jpg</string>
			</dict>
			<dict>
				<key>price</key>
				<string>5.45-6.49万</string>
				<key>icon</key>
				<string>https://img4.bitautoimg.com/autoalbum/files/20180802/151/0503261510_3.png</string>
				<key>name</key>
				<string>凯越</string>
			</dict>
			<dict>
				<key>price</key>
				<string>19.29-43.99万</string>
				<key>name</key>
				<string>别克GL8</string>
				<key>icon</key>
				<string>https://img1.bitautoimg.com/autoalbum/files/20190102/131/0353541315_3.png</string>
			</dict>
		</array>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>item2</string>
		<key>brand</key>
		<string>福特</string>
		<key>cars</key>
		<array>
			<dict>
				<key>price</key>
				<string>8.37-13.37万</string>
				<key>icon</key>
				<string>https://img3.bitautoimg.com/autoalbum/files/20190102/762/0317087626_3.png</string>
				<key>name</key>
				<string>福克斯</string>
			</dict>
			<dict>
				<key>price</key>
				<string>19.98-31.88万</string>
				<key>name</key>
				<string>林肯MKZ</string>
				<key>icon</key>
				<string>https://img3.bitautoimg.com/autoalbum/files/20190102/494/1047004948_3.png</string>
			</dict>
		</array>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>item3</string>
		<key>brand</key>
		<string>现代</string>
		<key>cars</key>
		<array>
			<dict>
				<key>price</key>
				<string>6.39-9.59万</string>
				<key>icon</key>
				<string>https://img4.bitautoimg.com/autoalbum/files/20181218/751/0456587514_3.png</string>
				<key>name</key>
				<string>悦动</string>
			</dict>
			<dict>
				<key>price</key>
				<string>9.99-14.19万</string>
				<key>name</key>
				<string>现代ix35</string>
				<key>icon</key>
				<string>http://img4.bitautoimg.com/autoalbum/files/20190920/575/20190920113833383325237_7097515_3.jpg</string>
			</dict>
		</array>
		<key>remark</key>
		<string></string>
	</dict>
</array>
</plist>
