<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>哪位能给个答案</string>
		<key>icon</key>
		<string>001.jpg</string>
		<key>picture</key>
		<string>pic0.jpg</string>
		<key>name</key>
		<string>危机男

危机十分</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>picture</key>
		<string></string>
		<key>text</key>
		<string>一人欠下赌债数万,一日发现银行最有钱.打算到那里借点钱.午夜通过银行的层层关卡,终于来到保险柜前,费了半天劲,终于打开了.却发现里面全是袋装的奶,很是上火.于是把别的保险柜全部翘开了,发现里面也全是奶,更为恼火.最后把里面的奶全部喝光,扬长而去.第二天,买来报纸打算看看自己的丰功伟绩,报纸头条:疯狂歹徒!!精子银行被盗!</string>
		<key>icon</key>
		<string>002.jpg</string>
		<key>name</key>
		<string>正是这么个道理</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>一次部门里的两大项目组都告一段落，要庆祝一下，头几天，部长带着我们组出去吃了顿饭庆祝，过了几天，要带着另一个组出去吃饭，白天发邮件通知要参加的人了，当然我没有收到邮件，快到下班的时候，一个同属于两个组的人和我说起吃饭的事，我说我没有收到邮件我不知道啊，他说大概把你落下了吧，这时部长正好路过，结果他就问部长，晚上吃饭有没有某某（我的名字）啊，部长瞅瞅我有点尴尬的走了，我那个尴尬啊，脸都不知道往哪放了，让部长想这个人怎么这么好吃啊，谁吃饭都想跟着去！</string>
		<key>icon</key>
		<string>003.jpg</string>
		<key>picture</key>
		<string>pic2.jpg</string>
		<key>name</key>
		<string>我真不是嘴馋</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>为什么猪八戒八十万兵马不反了玉帝？</string>
		<key>icon</key>
		<string>004.jpg</string>
		<key>picture</key>
		<string>pic3.jpg</string>
		<key>name</key>
		<string>二师兄</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>这是为什么呢？你知道吗？</string>
		<key>icon</key>
		<string>005.jpg</string>
		<key>picture</key>
		<string>pic4.jpg</string>
		<key>name</key>
		<string>十万个为什么</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>picture</key>
		<string></string>
		<key>text</key>
		<string>所谓表白，无非就是你兜里揣着一个苹果，去问对方喜不喜欢苹果，而对方有喜欢橘子鸭梨猕猴桃菠萝草莓等等N种可能，这种情况看运气。而有的人不一样！他们兜里揣的是金条。。</string>
		<key>icon</key>
		<string>006.jpg</string>
		<key>name</key>
		<string>飞起的鱼</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>熬夜和晚睡的区别</string>
		<key>icon</key>
		<string>007.jpg</string>
		<key>picture</key>
		<string>pic6.jpg</string>
		<key>name</key>
		<string>doctor王</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>008.jpg</string>
		<key>picture</key>
		<string>pic7.jpg</string>
		<key>name</key>
		<string>乐观生活</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>picture</key>
		<string></string>
		<key>text</key>
		<string>本人非常喜欢去游泳，有一次，去游泳，天气非常炎热，于是我穿个超大的短袖衬衫，大裤衩，交上传着拖鞋骑着车去了游泳馆，我在下水之前，把拖鞋像别人一样放在泳池的旁边，但等我想要回家的时候，却找不到拖鞋，于是只能光着脚回去，突然自行车也坏了，想打的，但是由于北京市的交规，无法搭载自行车。于是我光着脚，走回家。</string>
		<key>icon</key>
		<string>009.jpg</string>
		<key>name</key>
		<string>光着脚，走回家</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>picture</key>
		<string></string>
		<key>text</key>
		<string>看见办公室gg使用一瓶喷雾剂擦拭自己的笔记本电脑，欣欣然当成宝贝一样借过来，准备清洗一下自己脏兮兮的电脑，免得被人笑话：还是姑娘家呢，这么脏还将就的下去。希望能够一正俺“淑女”名声。擦完屏幕，gg提醒还可以擦电脑外壳和键盘，“哦，好”，拿着喷雾剂朝键盘猛喷几下，用抹布从右到左开始擦，第一个就是“power”键，啊啊啊！俺的文档都还没有保存啊......机器已经自动关机啊</string>
		<key>icon</key>
		<string>010.jpg</string>
		<key>name</key>
		<string>自动关机</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>用一句歌词证明你是谁的粉丝？</string>
		<key>icon</key>
		<string>011.jpg</string>
		<key>name</key>
		<string>啥也不知道</string>
		<key>picture</key>
		<string>pic10.jpg</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
