<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>icon-80</string>
		<key>title</key>
		<string>第1个</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-80</string>
		<key>title</key>
		<string>第2个</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-80</string>
		<key>title</key>
		<string>第3个</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-80</string>
		<key>title</key>
		<string>第4个</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-80</string>
		<key>title</key>
		<string>第5个</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-80</string>
		<key>title</key>
		<string>第6个</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-80</string>
		<key>title</key>
		<string>第7个</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-80</string>
		<key>title</key>
		<string>第8个</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-80</string>
		<key>title</key>
		<string>第9个</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-80</string>
		<key>title</key>
		<string>第10个</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-80</string>
		<key>title</key>
		<string>第11个</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon-80</string>
		<key>title</key>
		<string>第12个</string>
	</dict>
</array>
</plist>
